



<div class="modal fade bd-example-modal-lg" id="Modal_Purchase_Details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-white">Purchase Invoice Details</h4>
                <button type="button" class="close text-white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body lefttext">
                @*customer information*@

                <div class="row">
                    <div class="col-md-6">
                        <div class="im"></div>
                    </div>

                </div>

                @*Invoice details *@

                <div class="row mt-2">

                </div>

                @*table section*@

                <div class="row mt-2">
                    <div class="table-responsive mt-3">
                        <table class="table table-bordered text-center">
                            <thead class="bg-blue">
                                <tr class="text-white">
                                    <th><small>SL</small></th>
                                    <th><small>Image</small></th>
                                    <th><small>Code</small></th>
                                    <th><small>Description</small></th>
                                    <th><small>Model</small></th>
                                    <th><small>Size</small></th>
                                    <th><small>Color</small></th>
                                    <th><small>Qty</small></th>
                                    <th><small>Price</small></th>
                                    <th><small>Total Amount</small></th>
                                    @*
                                    <th><small>Action</small></th>*@

                                </tr>
                            </thead>
                            <tbody class="table-danger light" id="modalsaleproductlist">
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-youtube btn-xs" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

