@model LoginViewModel

@{ ViewBag.Title = "Login User";
    Layout = null; }
<partial name="~/Views\Shared\Css_Scripts\_headerScriptsFiles.cshtml" />

<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <img src="images/logo-full.png" alt="">
                                </div>
                                <h4 class="text-center mb-4">Sign in your account</h4>
                                <form action="index.html">
                                    <div class="form-group">
                                        <label class="mb-1"><strong>Email</strong></label>
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Enter Email Address">
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1"><strong>Password</strong></label>
                                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter Email Password">
                                    </div>
                                    <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox ml-1">
                                                <input asp-for="IsRemember" type="checkbox" class="custom-control-input" id="basic_checkbox_1">
                                                <label class="custom-control-label" for="basic_checkbox_1">Remember my preference</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <a href="page-forgot-password.html">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Sign Me In</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p>Don't have an account? <a class="text-primary" href="page-register.html">Sign up</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views\Shared\Css_Scripts\_footerScriptsFiles.cshtml" />
