<!DOCTYPE html>


<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    @*<meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="robots" content="">*@
    <meta name="viewport" content="width=device-width,initial-scale=1">
    @*<meta name="description" content="Zenix - Crypto Admin Dashboard">
        <meta property="og:title" content="Zenix - Crypto Admin Dashboard">
        <meta property="og:description" content="Zenix - Crypto Admin Dashboard">
        <meta property="og:image" content="https://zenix.dexignzone.com/xhtml/social-image.png">*@
    <meta name="format-detection" content="telephone=no">
    <title>Marnia Leather </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/images/favicon.png">
    <link rel="stylesheet" href="~/admin/vendor/chartist/css/chartist.min.css">
    <link href="~/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/admin/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/admin/css/style.css" rel="stylesheet">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/images/favicon.png">

    <!-- Toastr -->
    <link rel="stylesheet" href="/admin/vendor/toastr/css/toastr.min.css">
    <!-- Custom Stylesheet -->
    <link href="/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet">

    <!-- Sweet alert -->
    <link href="/admin/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet">


</head>
<body>
    <div id="main-wrapper">

        <partial name="_header" />
        <partial name="_sidebar" />
        <div class="content-body">
            <div class="container-fluid">

                @RenderBody()
            </div>
        </div>

    </div> <!--End Main-wrapper-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/admin/vendor/global/global.min.js"></script>
    <script src="~/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Chart Section -->

    <section>
        <script src="~/admin/vendor/chart.js/Chart.bundle.min.js"></script>

        <!-- Chart piety plugin files -->
        <script src="~/admin/vendor/peity/jquery.peity.min.js"></script>

        <!-- Apex Chart -->
        <script src="~/admin/vendor/apexchart/apexchart.js"></script>
    </section>

    <!-- Dashboard 1 -->
    <section>
        <script src="~/admin/js/dashboard/dashboard-1.js"></script>

        <script src="~/admin/vendor/owl-carousel/owl.carousel.js"></script>
        <script src="~/admin/js/custom.min.js"></script>
        <script src="~/admin/js/deznav-init.js"></script>
        <script src="~/admin/js/demo.js"></script>
        <script src="~/admin/js/styleSwitcher.js"></script>
        <script src="~/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </section>
    <!-- Toastr -->
    <section>

        <!-- Toastr -->
        <script src="~/admin/vendor/toastr/js/toastr.min.js"></script>

        <!-- All init script -->
        <script src="~/admin/js/plugins-init/toastr-init.js"></script>

        <script src="~/admin/js/custom.min.js"></script>
        <script src="~/admin/js/deznav-init.js"></script>
        <script src="~/admin/js/demo.js"></script>
        <script src="~/admin/js/styleSwitcher.js"></script>
    </section>

    <!-- sweet alert-->
    <section>
        <!-- Required vendors -->

        <script src="~/admin/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
        <script src="~/admin/js/plugins-init/sweetalert.init.js"></script>
        <script src="~/admin/js/custom.min.js"></script>
        <script src="~/admin/js/deznav-init.js"></script>
        <script src="~/admin/js/demo.js"></script>
        <script src="~/admin/js/styleSwitcher.js"></script>
    </section>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", true)
    }
</body>
</html>



