@inject IHttpContextAccessor Accessor

@{
    string message = "";
    string status = "danger";
    if (Accessor.HttpContext.Session.GetString("message") != null)
    {
        message = Accessor.HttpContext.Session.GetString("message") as string;
        Accessor.HttpContext.Session.Remove("message");
    }
    if (Accessor.HttpContext.Session.GetString("status") != null)
    {
        status = Accessor.HttpContext.Session.GetString("status") as string;
        Accessor.HttpContext.Session.Remove("status");
    }
}


@if (message != "")
{
    <div class="row py-3">
        <div class="col-sm-12">

            @{ string greet = "";
                string text_color = "";
                
                @if (status.ToLower() == "success".ToLower())
                {
                    greet = "Success";
                    text_color = "text-green";
                    

                }
                else
                {

                    greet = "Caution!";
                    text_color = "text-red";

                }


            <div class="alert alert-@(status) alert-dismissible fade show">


                @if(status=="danger")
                {
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                }
                else 
                {
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>

                }
                <strong>@greet!</strong> @message.
                <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                    <span><i class="mdi mdi-close"></i></span>
                </button>
            </div>

                           


            }





        </div>
    </div>


    
}

