
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
@*
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">*@
<meta name="viewport" content="width=device-width,initial-scale=1">
@*
    <meta name="description" content="Zenix - Crypto Admin Dashboard">
    <meta property="og:title" content="Zenix - Crypto Admin Dashboard">
    <meta property="og:description" content="Zenix - Crypto Admin Dashboard">
    <meta property="og:image" content="https://zenix.dexignzone.com/xhtml/social-image.png">*@
<meta name="format-detection" content="telephone=no">
<title>Marnia Leather </title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/admin/images/favicon.png">
<link rel="stylesheet" href="~/admin/vendor/chartist/css/chartist.min.css">
<link href="~/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="~/admin/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/admin/images/favicon.png">

<!-- Toastr -->
<link rel="stylesheet" href="/admin/vendor/toastr/css/toastr.min.css">
<!-- Custom Stylesheet -->
@*<link href="/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">*@

<!-- Sweet alert -->
<link href="/admin/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
@*<link href="/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">*@

<!-- Searchable Dropdown -->

<link rel="stylesheet" href="/admin/vendor/select2/css/select2.min.css">
@*<link href="~/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">*@

@*Datatable Css File*@


<link href="~/admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

@*Datatable CDN CSS File*@
@*
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.5/datatables.min.css" rel="stylesheet" />*@

<section>
    <!-- Date picker Section -->
    <!-- Daterange picker -->
    <link href="~/admin/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Clockpicker -->
    <link href="~/admin/vendor/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <!-- asColorpicker -->
    <link href="~/admin/vendor/jquery-asColorPicker/css/asColorPicker.min.css" rel="stylesheet">
    <!-- Material color picker -->
    <link href="~/admin/vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Pick date -->
    <link rel="stylesheet" href="~/admin/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="~/admin/vendor/pickadate/themes/default.date.css">
    <link href="~/admin/icon.css?family=Material+Icons" rel="stylesheet">

</section>


<section> <!-- Autocomplete CSS Stylesheet -->
    <link href="~/Autocomplete/jquery-ui-1.13.2.custom/jquery-ui-1.13.2.custom/jquery-ui.min.css" rel="stylesheet" />
</section>

<!-- Custom Stylesheet -->


<link href="~/admin/css/style.css" rel="stylesheet">
<link href="~/MyCustomStyle.css" rel="stylesheet" />


