@model ManufactureCreateViewModel

@{
    ViewBag.Title = "Create Manufacture";
 }

    <form method="post">
        <div class="card">
            <div class="card-header bg-blue-dark">
                <h1 class="text-white card-title">Create Manufacture</h1>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>


                <div class="form-group">
                    <label asp-for="@Model.ManufactureName"></label>
                    <input asp-for="@Model.ManufactureName" class="form-control" placeholder="Enter Manufacture Name" />
                    <span asp-validation-for="@Model.ManufactureName" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-success">Create</button>
                    <button type="submit" class="btn btn-sm btn-primary">Show List</button>

                </div>
            </div>
        </div>

    </form>
