@model ManufactureCreateViewModel

@{
    ViewBag.Title = "Create Manufacture";
 }

    <form method="post">
        <div class="card">
            <div class="card-header bg-blue-dark">
                <h1 class="text-white card-title">Create Manufacture</h1>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <partial name="_Messages" />

                    </div>
                </div>



                <div class="form-group">
                    <label asp-for="@Model.ManufactureName"></label>
                    <input asp-for="@Model.ManufactureName" class="form-control" placeholder="Enter Manufacture Name" />
                    <span asp-validation-for="@Model.ManufactureName" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <button type="submit" class="btn btn-xs btn-success">Create <span class="ml-1"><i class="mdi mdi-plus"></i></span></button>
                    <button type="submit" class="btn btn-xs btn-info">Show List <span class="ml-1"><i class="mdi mdi-view-list"></i></span></button>

                </div>
            </div>
        </div>

    </form>
