@model SaleCreateViewModel
@{
    ViewBag.Title = "Create New Sele";
    string margin = "mt-1";
}


<div class="row border bg-info-light">
  

    <div class="col-md-12">
        <h5 class="row py-2 pl-3 text-white bg-blue-dark ">
            Customer Information
        </h5>

        <div class="row p-1 @margin">
            <div class="col-md-12 mb-4">
                <div class="row">
                    <div class="col-md-2">
                        <label>Search Contact</label>
                    </div>
                    <div class="col-md-10">
                        <input id="searchcontact" class="form-control" placeholder="Search Contact No" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <label asp-for="CustName"></label>
            </div>
            <div class="col-md-5">
                @*<label asp-for="CustName"></label>*@

                <input class="form-control" asp-for="CustName" name="CustName" />
                <span asp-validation-for="CustName" class="text-danger"></span>
            </div>


            <div class="col-md-1">
            <label asp-for="Contact"></label>
        </div>
            <div class="col-md-4">
                @*<label asp-for="Contact"></label>*@

                <input class="form-control" asp-for="Contact"  name="Contact" />
                <span asp-validation-for="Contact" class="text-danger"></span>

            </div>

        </div>


        <div class="row @margin">
            <div class="col-md-2">
                <label asp-for="Address"></label>
            </div>
            <div class="col-md-10">
                @*<label asp-for="Address"></label>*@

                <input class="form-control" asp-for="Address" name="Address" />
            </div>
        </div>



    </div>
</div>