
@model ManufactureEditViewModel






<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="edit_manufacture" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Manufacture</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="form-group">
                    <input hidden class="form-control" asp-for="@Model.id" />
                    <label asp-for="@Model.ManufactureName"></label>
                    <input asp-for="@Model.ManufactureName" class="form-control" />
                    <span asp-validation-for="@Model.ManufactureName" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-sm light" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success btn-sm light updateManufacture">Update</button>
            </div>
        </div>
    </div>
</div>
