@{
    //string tabcollabel = "col-md-4";
    string tabcolinput = "col-md-12";
}

@*for New Source Create*@
<div class="row" id="divSaleType" style="display:none">
    @*<div class="@tabcollabel">
        </div>*@
    <div class="@tabcolinput">
        <label for="txtSaveSaleType">Add Sell Type</label>

        <div class="input-group">
            <input class="form-control" id="txtSaveSaleType" placeholder="Enter Sale Type " />
            <span class="input-group-append">
                <button type="button" data-request-url='@Url.Action("Create_SaleType_With_Ajax","Sale")' class="btn btn-sm btn-whatsapp" id="btnSaveSaleType">Add <span><i class="mdi mdi-plus"></i></span></button>
            </span>
        </div>
    </div>
</div>