.img-fluid {
    height: 200px !important;
}

.card-body {
    background-color: rgba(240,240,240) !important;
}
.form-control {
    background-color: rgb(248,248,248) !important;
    border:0.5px solid rgb(230,230,230)!important;
    height:40px

}

.card-header{
    background-color:crimson!important
}

.card-footer {
    background-color: rgba(230,230,230) !important;
}

img {
    height:200px;
}


